In [1]:
import mysql.connector
conn = mysql.connector.connect(host = "localhost",user = "root",password = "horridhenry",database = "student_info")
c = conn.cursor()

In [2]:
c.execute(""" 
CREATE TABLE student(student_name VARCHAR(30),college_name VARCHAR(50),
          round_one_marks FLOAT, round_two_marks FLOAT, round_three_marks FLOAT, technical_round_marks FLOAT, total_marks FLOAT
          )
          """)

In [4]:
conn.commit()

In [28]:
c.execute(
"ALTER TABLE student ADD Result VARCHAR(50)")

In [ ]:
# function for adding data
def add_data():
    c.execute(""" INSERT INTO student values(%s,%s,%s,%s,%s,%s,%s,%s)
              """,(name,college_name,round_one_marks,round_two_marks,round_three_marks,technical_round_marks,total_marks,result))
    conn.commit()

name = ''
college_name = ''
round_one_marks = 0
round_two_marks = 0
round_three_marks = 0
technical_round_marks = 0
total_marks = 0
result = ''
def input_data():
    global name , college_name , round_one_marks ,round_two_marks ,round_three_marks,technical_round_marks,total_marks,result
    name = input("Enter your name: ")
    if len(name)>30:
        print("Name input length greater than 30")
        name = ''
        return
        
    college_name = input("Enter your college name: ")
    if len(college_name)>50:
        print("College Name input length greater than 50")
        college_name = ''
        return
        
    round_one_marks = float(input(("Enter your first round marks: ")))
    if round_one_marks <0 or round_one_marks>10:
        print("First round marks not within vallid range")
        round_one_marks = 0
        return

    round_two_marks = float(input(("Enter your second round marks: ")))
    if round_two_marks <0 or round_two_marks>10:
        print("Second round marks not within vallid range")
        round_two_marks = 0
        return
        
    round_three_marks = float(input("Enter your third round marks: "))
    if round_three_marks <0 or round_three_marks>10:
        print("Third round marks not within vallid range")
        round_three_marks = 0
        return
        
    technical_round_marks = float(input("Enter your Technical round marks: "))
    if technical_round_marks <0 or technical_round_marks>10:
        print("Third round marks not within vallid range")
        technical_round_marks = 0
        return
    
    print("ALL DATA AQUIRED")

    total_marks = round_one_marks+round_two_marks+round_three_marks+technical_round_marks
    result = 'rejected' if total_marks<35 else 'selected'
    add_data()
    conn.commit()

In [43]:
import pandas as pd

#for displaying the table data
def display_data():
    c.execute("SELECT * FROM student")
    data = c.fetchall()
    df = pd.DataFrame(data,columns=("name","college_name","round_one_marks","round_two_marks","round_three_marks","technical_round_marks","total_marks","result"))
    print(df.head())

In [46]:
# for displaying ranking of students
def display_rankings():
    c.execute("SELECT RANK() AS student_rank OVER(ORDER BY total_marks) from student)")
    data = c.fetchall()
    print(pd.DataFrame(data).head())

In [ ]:
input_data()

In [47]:
display_data()

       name                  college_name  round_one_marks  round_two_marks  \
0  jaskirat  chandigarh group of colleges              5.0              6.0
1       raj                       landran              3.0              4.0

   round_three_marks  technical_round_marks  total_marks    result
0                7.0                    6.0         24.0  rejected
1                4.0                    5.0         24.0  rejected

In [38]:
input_data()

ALL DATA AQUIRED

In [39]:
add_data()

In [45]:
display_data()

       name                  college_name  round_one_marks  round_two_marks  \
0  jaskirat  chandigarh group of colleges              5.0              6.0
1       raj                       landran              3.0              4.0

   round_three_marks  technical_round_marks  total_marks    result
0                7.0                    6.0         24.0  rejected
1                4.0                    5.0         24.0  rejected

In [66]:
input_data()

ALL DATA AQUIRED

In [60]:
def display_rankings():
    c.execute("SELECT student_name ,total_marks, RANK() OVER(ORDER BY total_marks DESC) as student_rank from student")
    data = c.fetchall()
    print(pd.DataFrame(data,columns=("name","total_marks","rank")))

In [67]:
display_rankings()

       name  total_marks  rank
0  jaskirat         24.0     1
1       raj         24.0     1
2      ravi         24.0     1

In [72]:
input_data()

ALL DATA AQUIRED

In [73]:
display_rankings()

       name  total_marks  rank
0    ravika         36.0     1
1  jaskirat         24.0     2
2       raj         24.0     2
3      ravi         24.0     2
4     rahul         24.0     2
5     mohit         14.0     6

In [74]:
input_data()

ALL DATA AQUIRED

In [76]:
input_data()

ALL DATA AQUIRED

In [77]:
print("Final Collected Data:")
print("Name:", name)
print("College:", college_name)
print("Round 1:", round_one_marks)
print("Round 2:", round_two_marks)
print("Round 3:", round_three_marks)
print("Technical:", technical_round_marks)

Final Collected Data:
Name: ram
College: cu
Round 1: 4.0
Round 2: 3.0
Round 3: 2.0
Technical: 4.0

In [78]:
display_data()

       name                  college_name  round_one_marks  round_two_marks  \
0  jaskirat  chandigarh group of colleges              5.0              6.0
1       raj                       landran              3.0              4.0
2      ravi                      chitkara              8.0              7.0
3     rahul                            mu              9.0              9.0
4    ravika                            mu              9.0              9.0

   round_three_marks  technical_round_marks  total_marks    result
0                7.0                    6.0         24.0  rejected
1                4.0                    5.0         24.0  rejected
2                7.0                    8.0         24.0  rejected
3                9.0                    9.0         24.0  rejected
4                9.0                    9.0         36.0  selected

In [79]:
display_rankings()

       name  total_marks  rank
0     amika         40.0     1
1    ravika         36.0     2
2  jaskirat         24.0     3
3       raj         24.0     3
4      ravi         24.0     3
5     rahul         24.0     3
6     mohit         14.0     7
7       ram         13.0     8